- var blocksPerRow= 8
- var numBlocks= blocksPerRow*blocksPerRow
body(ontouchstart="")
	.mouse
		.circle
	section 
		.wrapper
			- for (var i= 0; i < numBlocks; i++)
				div.selector
			- for (var i= 0; i < numBlocks; i++)
				span.visible
					.el(data-delay=Math.ceil(Math.random()*10))
			
					