html .particles-js-canvas-el {
    z-index: 100000;
    height: max-content;
}

body {
    height: max-content;
    font-family: Arial;
    font-weight: 300;
    background: -moz-linear-gradient(top, #c0bfbf 0%, #23c1cc 100%);
    background: -webkit-linear-gradient(top, #c0bfbf 0%, #23c1cc 100%);
    background: -o-linear-gradient(top, #c0bfbf 0%, #23c1cc 100%);
    background: -ms-linear-gradient(top, #c0bfbf 0%, #23c1cc 100%);
    background: linear-gradient(to bottom, #c0bfbf 0%, #23c1cc 100%);
    margin: 0px;
    padding: 0px;
}

.Searchdiv {
    float: left;
}

.navbar {
    z-index: 10;
    -webkit-box-shadow: 18px -3px 41px -1px rgba(184, 33, 184, 1);
    -moz-box-shadow: 18px -3px 41px -1px rgba(184, 33, 184, 1);
    box-shadow: 18px -3px 41px -1px rgba(184, 33, 184, 1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    height: auto;
    min-width: 80px;
    width: 0px;
    background-color: #171717;
    margin-left: -20px;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
    border-right: rgb(158, 6, 204) 2px solid;
    padding: 1em;
}

.listitem {
    text-decoration: none;
    color: #f8f6f6;
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: line;
}

.homeimg {
    margin-left: 10px;
}


.anakategori {
    list-style: none;
    visibility: hidden;
}

.navbar .listitem {
    font-weight: bold;
    text-indent: -200px;
}

.navbar:hover {
    animation: navbarhover .5s forwards;
    animation-direction: inherit;
}

.navbar:hover .homeimg {
    animation-name: imgmove;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.searchform {
    top: 5%;
    background: #f4f4f4;
    background: rgba(244, 244, 244, .79);
    border: 1px solid #d3d3d3;
    padding: 2px 5px;
    position: absolute;
    width: 600x;
    box-shadow: 0 4px 9px rgba(184, 33, 184, 1);
    -moz-box-shadow: 0 4px 9px rgba(184, 33, 184, 1);
    -webkit-box-shadow: 0 4px 9px rgba(184, 33, 184, 1);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}

.searchform input,
.searchform button {
    float: left
}

.searchform input {
    background: #fefefe;
    border: none;
    font: 12px/12px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin-right: 5px;
    padding: 10px;
    width: 542px;
    box-shadow: 0 0 4px rgba(184, 33, 184, 1) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -moz-box-shadow: 0 0 4px rgba(184, 33, 184, 1) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    -webkit-box-shadow: 0 0 4px rgba(184, 33, 184, 1) inset, 1px 1px 1px rgba(255, 255, 255, .75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}

.searchform input:focus {
    outline: none;
    box-shadow: 0 0 4px #0d76be inset;
    -moz-box-shadow: 0 0 4px #0d76be inset;
    -webkit-box-shadow: 0 0 4px #0d76be inset;
}

.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}

.searchform button {
    background: -moz-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
    background: -webkit-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
    background: -o-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
    background: -ms-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
    background: linear-gradient(to bottom, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
    padding: 10px;
    width: 106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    text-shadow: 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0px 3px 20px rgba(28, 110, 164, 0);
}

.searchform button:hover {
    opacity: .9;
}

.search {
    width: 41.66%;
    height: 200px;
    border: #000, 1px;
}

.listitem:hover {
    color: #c5c3c3;
    animation: listitem .5s forwards;
    text-decoration: none;
}

@keyframes imgmove {
    100% {
        margin-top: 40px;
        margin-left: 55px;
    }
}

@keyframes listitem {
    100% {
        font-size: 20px
    }
}

.bellimg,
.accountimg {
    width: 35px;
    padding: 3px;
    padding-top: 6px
}

.listitem.kategori {
    margin-left: 0px;
    font-weight: bold;
    font-size: 25px;
}

.listitem.kategori:hover {
    animation: listitemkategori .5s forwards;
}


/*----------------------------------------------------------*/

.r1 {
    background-image: url(1.jpg);
    height: 375px;
    width: 660px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px purple;
}

.r2 {
    background-image: url(2.jpg);
    height: 375px;
    width: 660px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px purple;
}

.r3 {
    background-image: url(3.jpg);
    height: 375px;
    width: 600px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px purple;
}

.r4 {

    background-image: url(4.jpg);
    height: 303px;
    width: 563px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px purple;
}

.r5 {

    height: auto;
    width: auto;
    float: left;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px purple;
}

@media (min-width: 1400px) {
    .searchform {
        margin-left: 440px;
    }
}

.navbar:hover .anakategori {
    animation: lisitemhover forwards;
    animation-delay: .3s;
}

@keyframes lisitemhover {
    100% {
        visibility: visible;
    }
}

@keyframes navbarhover {
    100% {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        height: auto;
        width: 190px;
        background: -moz-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
        background: -webkit-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
        background: -o-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
        background: -ms-linear-gradient(top, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
        background: linear-gradient(to bottom, rgb(200, 2, 240) 0%, rgb(123, 4, 153) 100%);
        -webkit-box-shadow: 18px -3px 41px -1px rgb(29, 29, 29);
        -moz-box-shadow: 18px -3px 41px -1px rgb(29, 29, 29);
        box-shadow: 18px -3px 41px -1px rgb(29, 29, 29);
    }
}

@keyframes listitemkategori {
    100% {
        font-size: 28px;
    }
}

canvas.particles-js-canvas-el {
    height: -webkit-fill-available;
}

li {
    margin-top: 40px;
    margin-left: 10px;
    text-shadow: 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0px 3px 20px rgba(28, 110, 164, 0);
}

.likategori {
    margin-left: 0px;
}

.navcon {
    height: 252px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 1550px;
    background: linear-gradient(to bottom, rgba(117, 114, 113, 0.8) 10%, rgba(40, 49, 77, 0.8) 30%, rgba(29, 35, 71, 0.8) 50%, rgba(19, 25, 28, 0.8) 80%, rgba(15, 14, 14, .8) 100%), url(https://38.media.tumblr.com/tumblr_m00c3czJkM1qbukryo1_500.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.navrow {
    height: -webkit-fill-available;
}

.belldiv,
.accountdiv {
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 60px 5px rgba(184, 33, 184, 1);
    -moz-box-shadow: 0px 0px 60px 5px rgba(184, 33, 184, 1);
    box-shadow: 0px 0px 60px 5px rgba(184, 33, 184, 1);
    float: left;
    margin-left: 50px;
    margin-top: 15px;
}

.accountdiv {
    margin-left: 200px;
}

.desings {
    width: 100%;
    background-color: #c5c3c3;
    height: 310px;
    border-radius: 3%;
    padding: 10px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 118px -17px rgba(161, 8, 161, 1);
    -moz-box-shadow: 0px 0px 118px -17px rgba(161, 8, 161, 1);
    box-shadow: 0px 0px 118px -17px rgba(161, 8, 161, 1);
}

.likecomment {
    padding: 10px;
}

.desingsrow {
    margin-left: 60px;
}

.imglikecomment {
    width: 45px;
}

@media(max-width:1020px) {
    .imglikecomment {
        width: 35px;
    }

    .belldiv,
    .accountdiv {
        margin-left: 0px;
        margin-top: 13px;
    }
    #particles-js{
        height: 2500px;
    }
}

.desingpic {
    height: 80%;
    width: 100%;
    background-color: white;
    border-radius: 3%;
}

.desingname{
    position: absolute;
    font-size: large;
    color: white;
    top: 4%;
    left: 16%;
    visibility: hidden;
}
.desingpic:hover .desingname{
    animation: desingname forwards 3s;
    animation-timing-function: cubic-bezier(0.42,0,1,1);
    
}

@keyframes desingname{
    100%{
        visibility: initial;
    }
}

iframe{
    width: 100%;
    height: 720px;
    border: #790579;
}

.codediv{
    padding: 5px;
    border-radius: 3%;
    height: 290px;
    background-color:rgba(14, 7, 15, 0.39);
    border:2px solid #790579;
}

.navcondes{
    height: 145px;
}

.headers{
    background-color: rgba(227, 13, 255, 0.329);
    border-radius: 3%;
    text-align: left;
    color:white;
    padding: 5px;
    padding-left: 15px;
    text-shadow: 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0px 3px 20px rgba(28, 110, 164, 0);

}

.desingsparticles{
    height: 1700px;
}

.codepar{
    overflow: scroll;
    overflow-x: auto;
    color: white;
    height: 80%;
    width: 100%;
}

.desingcon{
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}